@import "bootstrap";

body {
	background: image_url('music.jpeg') no-repeat center center fixed;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	background: #131e69;
	box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse a.navbar-brand {
  font-weight: 100;
  color: white;
}


h2 {
	color: white;
}

booyah-box {
	-moz-box-shadow: 1px 2px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #e4e4e4;
	padding: 10px;
}

.brand {
	font-family: 'Pacifico', cursive;
	color: white;
	font-size: 40px;
}

.nav-item {
	margin-right: 100px;
	color: white;
}















